.login-painel{
  width: 60vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logo-painel{
  width: ;
  background-color: black;

}
.area-login{
  background-color: red;

}